body {
margin: 0;
}
 li {
   display: inline;
   padding-bottom: 1%;
 }
ul {
  padding: 1%;
  margin: 0;
}
.list {
  padding-right: 5%;
  padding-left: 5%;
  background: rgb(255, 255, 255, .5);
  position: static;
}

.list a {
  color: #6aaf10;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2%;;
  margin: 5px;
  padding: 1.5%;
  float: right;
}
.list a:hover {
  background-color: #ff3366;
  color: white;
  transition: 1s;
}
.list img {
  height: 50px;
}

.logo {
  margin: 0 auto;
}
.info {
  background-image: url("../images/heroimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800px;
  padding-top: 10%;
  padding-left: 2%;
}
h2 {
  color: white;
  font-size: .8rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: justify;
}
.blurb {
  background-color:rgba(192,192,192,0.7);
  width: 20%;
  clear: both;
  float: right;
  padding: 3%;
  margin-top: 15%;
  margin-right: 7%;
  margin-bottom: 15%;
}
.blurb-next {
  background-color:rgba(192,192,192,0.7);
  width: 20%;
  clear: both;
  float: left;
  padding: 3%;
  margin-top: 15%;
  margin-left: 7%;
  margin-bottom: 15%;
}
.juice {
  background-color: #282828;
  clear: both;
  height: auto;
  padding-left: 45%;
  padding-right: 45%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.orange {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.info-next {
  background-image: url("../images/menu-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800px;
  padding-top: 10%;
  padding-left: 2%;
}
